<launch>
  <include file="$(find carbot_description)/launch/carbot_description.launch"/>
  <node pkg="vehicle" type="sensors_sim" name="sensors_sim_node" respawn="true"/>
  <node pkg="vehicle" type="road_preprocessor.py" name="road_preprocessor_node"
        cwd="node" respawn="true">
    <param name="publish_vdisparity_with_fitted_line" type="bool" value="True"/>
    <param name="publish_cloud_coloring" type="bool" value="True"/>
  </node>
  <!-- <node pkg="vehicle" type="cocoDetection.py" name="cocoDetection_node"
        cwd="node" respawn="true"/> -->

  <!-- map has to be in the TF tree: it's broadcasted by sensor_sim -->
  <!-- <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin">
    <param name="local_xy_frame" value="map"/>
    <param name="local_xy_origin" value="auto"/>
    <remap from="fix" to="oxts/gps"/>
  </node> -->

  <node pkg="rviz" name="rviz" type="rviz"
        args="-d $(find vehicle)/config/main.rviz"/>
  <!-- <node pkg="mapviz" type="mapviz" name="mapviz">
     <param name="config" value="$(find vehicle)/config/main.mvc"/>
  </node> -->
</launch>
