<launch>
    <include file="$(find carbot_description)/launch/carbot_description.launch"/>


    <node pkg="rosbag" type="play" name="play_node" output="log"
        args="--clock -l '/media/aurelio/Data/TEC Recordings/TEC_2019-04-03-17-35-59.bag'"/>

    <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui_node"/>

    <node pkg="vehicle" type="vdisp_line_fitter.py" name="vdisp_line_fitter_node"
        ns="vdisp_line_fitter" cwd="node" respawn="true" output="screen">
        <param name="use_deprecated_code" type="bool" value="False"/>
        <param name="publish_udisp_threshold_filter" type="bool" value="False"/>
        <param name="publish_vdisp_with_fitted_line" type="bool" value="True"/>
        <param name="publish_vdisp_line_fitted_road" type="bool" value="False"/>
        <param name="publish_cloud_coloring" type="bool" value="False"/>
    </node>

  <!-- <node pkg="vehicle" type="cocoDetection.py" name="cocoDetection_node"
        cwd="node" respawn="true"/> -->

  <!-- map has to be in the TF tree: it's broadcasted by sensor_sim -->
  <!-- <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin">
    <param name="local_xy_frame" value="map"/>
    <param name="local_xy_origin" value="auto"/>
    <remap from="fix" to="oxts/gps"/>
  </node> -->

  <!-- <node pkg="rviz" name="rviz" type="rviz"
        args="-d $(find vehicle)/config/main.rviz"/> -->
  <!-- <node pkg="mapviz" type="mapviz" name="mapviz">
     <param name="config" value="$(find vehicle)/config/main.mvc"/>
  </node> -->
</launch>
