<launch>

  <node pkg="vehicle" type="stereo" name="stereo_node" respawn="true"/>
  <node pkg="vehicle" type="roadPreprocess.py" name="roadPreprocess_node"
        respawn="true"/>
  <node pkg="vehicle" type="cocoDetection.py" name="cocoDetection_node"
        cwd="node" respawn="true"/>
  <node pkg="rqt_gui" type="rqt_gui" name="rqt_node" respawn="false"
        args="--perspective-file $(find vehicle)/launch/visualization.perspective"/>

</launch>
