<?xml version="1.0"?>
<launch>
  <arg name="use_robot_pub" default="true"/>

  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find carbot_description)/urdf/carbot.xacro'"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher"
        if="$(arg use_robot_pub)"/>
</launch>
